@page "/changepassword"


<section class="content-header">
    <div class="container-fluid">

        <section class="content">
            <div class="row">

                <div class="col-md-3">
                    <SideBar />
                </div>

                <div class="col-md-6">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                Change Password
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pad">
                            @if (Failure)
                            {
                                <div class="text-danger">
                                    <h6>
                                        @ErrorMessage
                                    </h6>
                                </div>
                            }
                            <div class="mb-3">
                                <EditForm Model="@changePasswordRequest" OnValidSubmit="SavePassword">
                                    <div class="row">
                                        <DataAnnotationsValidator />
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <InputPasswordSecond @bind-Value="@changePasswordRequest.OldPassword" class="form-control" placeholder="Old Password" />
                                                <ValidationMessage For="@(() => changePasswordRequest.OldPassword)" />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <InputPasswordThird @bind-Value="@changePasswordRequest.Password" class="form-control" placeholder="New Password" />
                                                <ValidationMessage For="@(() => changePasswordRequest.Password)" />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <InputConfirmPasswordSecond @bind-Value="@changePasswordRequest.ConfirmPassword" class="form-control" placeholder="Retype New Password" />
                                                <ValidationMessage For="@(() => changePasswordRequest.ConfirmPassword)" />
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            @if (IsSearching)
                                            {
                                                <button type="submit" class="btn btn-block btn-success" disabled><span class="fa fa-refresh fas spinning" style="margin-right:10px;"></span>Saving</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-block btn-success">Save Changes</button>
                                            }
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>


@code {

    ChangePasswordRequest changePasswordRequest = new ChangePasswordRequest();

    private bool IsSearching { get; set; }

    bool Failure;

    private string ErrorMessage = null;
     
    private async Task SavePassword()
    {
        IsSearching = true;

        StateHasChanged();

        var result = await _accountService.ChangePassword(changePasswordRequest);

        Failure = result.Token == null;

        if (!Failure)
        {
            await js.RemoveModal("Password Changed", $"", SweetAlertMessageType.success);

            changePasswordRequest.ConfirmPassword = null;

            changePasswordRequest.Password = null;

            IsSearching = false;
        }

        ErrorMessage = result.Error;

        IsSearching = false;

        StateHasChanged();
    }
}